@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App {
  /* overflow: hidden!important; */
}

.sticky_box div, .content div {
  /* border: 1px solid red; */
}

@media (min-width: 1023px) { 
  .experience_cards:hover .experience_titles, .projects_cards:hover .projects_titles {
    color: #45DBE2;
    opacity: 100;
    /* font-weight: 600; */
  }
 }
